@font-face {
  font-family: "GothamPro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/GothaProBla.otf");
}
@font-face {
  font-family: "GothamPro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/GothaProLig.otf");
}
@font-face {
  font-family: "GothamPro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/GothaProMed.otf");
}
@font-face {
  font-family: "Cochin";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Cochin.ttc");
}
