.footer {
	position: relative;
	width: 100%;
	min-height: 63px;
	margin: 0 auto;
	margin-top: -40px;
	background: rgba(0, 0, 0, 0.2);
}

.footer__wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 97%;
	margin: 0 auto;
	padding-top: 15px;
}

.footer__socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__socials-text {
	display: block;
	flex-shrink: 0;
	margin-right: 20px;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.footer__copyright {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-left: 300px;
}

.footer__copyright-button {
	flex-shrink: 0;
}

.footer__copyright-text {
	margin-left: 50px;
	font-size: 10px;
	font-weight: 300;
	text-transform: capitalize;
}

.footer__age {
	margin-right: 0;
	margin-left: auto;
	font-size: 1vw;
	font-weight: 400;
	text-transform: uppercase;
}