.header {
	width: 100%;
	min-height: 160px;
	margin: 0 auto;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05));
}

.header__wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	width: 97%;
	margin: 0 auto;

	outline: 1px solid black;
}

.header__heading {
	display: inline-block;
	margin: 0;
	margin-left: -6vw;
	font-family: 'Cochin';
	line-height: 80%;
	font-size: 7.2vw;
  	transform: scaleX(0.7);
	text-transform: lowercase;

	vertical-align: middle;

	outline: 1px solid lime;
}