.main-page {
	width: 100%;
	margin: 0 auto;
}

.main-page__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 97%;
	margin: 0 auto;

	outline: 1px solid black;
}

.main-page__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 49%;
	margin-top: 10px;
}

.main-page__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%
}

.main-page__logo {
	display: block;
	width: 25%;
	height: auto;

	outline: 1px solid lime;
}

.main-page__note {
	font-size: 1.3vw;
	font-weight: 400;
	text-transform: uppercase;
}

.main-page__text-wrapper {
	width: 100%;
	margin: 0 auto;
	background: url("../images/dest/frame.svg") no-repeat 50% 0;
	background-size: 51% auto;

	outline: 1px solid lime;
}

.main-page__text {
	width: 40%;
	margin: 0 auto;
	margin-top: 5vw;
	margin-bottom: 6.2vw;
	font-family: "Cochin";
	font-size: 1.8vw;
	font-weight: 300;
	line-height: 150%;
	font-style: italic;
	text-transform: uppercase;
	text-align: center;

	outline: 1px solid lime;
}

.main-page__button {
	margin-top: 40px;
}

.main-page__photo {
	position: relative;
	width: 45%;
	height: 95vh;
	margin-top: -135px;
	box-shadow: rgba(0, 0, 0, 1) 0 0 80px 8px;
	border-radius: 20px;
	/*background: url("../images/dest/photo.jpg") no-repeat 50% 0;*/
	outline: 1px solid lime;
}

.main-page__img {
	object-fit: cover;
	border-radius: 5px;
}

.main-page__link-img {
	position: absolute;
	width: 280px;
	height: auto;
	top: 490px;
	left: 10px;
}

